<a href="https://colab.research.google.com/github/gokulapriya-07/MED23CL202/blob/main/Python_Ex3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

steps:
 1.create empty result list
 2.

In [ ]:
#running sum
def runningSum(nums):
  result=[]
  total=0
  for i in nums:
    total+=i
    result.append(total)
  return result

print(runningSum([10,20,5,1]))

[10, 30, 35, 36]

In [ ]:
def Sum(nums):
    total = 0
    for i in nums:
        total+=i
    return total

print(totalSum([10, 20, 5, 1]))

36

count even number in a list

count even numbers:

sample input:(3,7,2,9,5)

expected output:1

In [ ]:
def CountEven(nums):
  count=0
  for n in nums:
    if n%2==0:
      count+=1
  return count

print(CountEven([3,7,2,9,5]))

1

reversing a list

In [ ]:
#reverse a list
def reverseList(nums):
  return nums[::-1]
print(reverseList([1,2,3,4]))

#slicing a list
my_list=[10,5,1,0,-67]
print(my_list[::2])#the list slices from begnning to end, taking every second element
print(my_list[::4])
print(my_list[::-4])
print(my_list[::-2])

[4, 3, 2, 1]
[10, 1, -67]
[10, -67]
[-67, 10]
[-67, 1, 10]

Maximun number in a list

In [ ]:
def FindMax(nums):
  max_num=nums[0]
  for n in nums:
    if n>max_num:
      max_num=n
  return max_num

print(FindMax([3,7,2,9,5]))

9

minimum number in a list

In [ ]:
def FindMin(nums):
  min_num=nums[0]
  for n in nums:
    if n<min_num:
      min_num=n
  return min_num

print(FindMin([3,7,2,9,5]))

2

Merge two sorted list

input [1,3,5],[2,4,6]

output : [1,2,3,4,5,6]

In [ ]:
def merge_list(list1,list2):
  return sorted(list1+list2)

print(merge_list([1,3,5],[2,4,6]))

[1, 2, 3, 4, 5, 6]

Square of a sorted list

In [ ]:
def SortedSquare(nums):
  return sorted([x**2 for x in nums])
  #list comprehension , define the logic in that list itself
 #defines a list based on iteratable that is x**2 for x in nums -> is defined to find the square of elements in a sorted list

print(SortedSquare([-4,-1,0,3,50]))

[0, 1, 9, 16, 2500]

two dimensional list

input:[ [100,52],[3,60] ]

output:152

In [ ]:
def MaxDeposit(account):
  return max(sum(cust)for cust in account)
print(MaxDeposit([[100,52],[3,60]]))

152

add two indices

input:[2,7,11,15] num=26

output:[2,3]

In [ ]:
def twoSum(nums,target):
  #define a dictionary , a key value pair
  seen={}
  for i,n in enumerate(nums):
    diff=target-n
    if diff in seen:
      return [seen[diff],i]
    seen[n]=i
    print(seen)

print(twoSum([2,7,11,15],26))

{2: 0}
{2: 0, 7: 1}
{2: 0, 7: 1, 11: 2}
[2, 3]